
@import url('https://fonts.cdnfonts.com/css/taxi-2');
*
{
  margin: 0;
  padding: 0;
  font-family: 'Taxi',sans-serif;
  box-sizing: border-box;
}
body{
    background: url('images/home.jpg') no-repeat fixed center center;
    background-size: cover;
    color: white;
}
input:disabled
{
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    word-spacing: normal;

}
textarea:disabled
{
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    word-spacing: normal;
}
.form-control:disabled{
    background: transparent;
    border: none;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
label{
    color: white;
}
.banner
{
    background-color: rgba(0, 0, 0, 0.65);
}
.navbar
{
  width: 90%;
  
  margin:auto;
  padding:35px 0;
  /* padding-left: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar.aos-init.aos-animate {
    padding-left: 20px;
}
.logo
{
    padding-left: 10;
    background-color: white;
    border-radius: 360px;
    max-width: 200px;
    width: 180px;
    cursor: pointer;

}
.navbar ul li
{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a
{
  font-family: 'Taxi', sans-serif;    
  text-decoration: none;
  color: white;
  text-shadow: 2px 4px 4px rgba(0,0,0,0.80);
text-transform:uppercase;  
}
.navbar ul li::after
{
  content: '';
  height: 3px;
  width: 0;
  background:black; 
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.3s; 
}

.navbar ul li:hover::after
{
  width: 100%;
}
h2
{
  text-shadow: 2px 4px 4px rgba(0,0,0,0.80);
  text-align: center;
  padding: 7px;
  color: white;
}
.content
{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: azure;
}
#preloader
{
   background: transparent url("images/loading.gif") no-repeat center;
   backdrop-filter: blur(10px);
   background-size: 13%;
   height: 100vh;
   width: 100%;
   position: fixed;
   z-index: 100;
}
/* CSS */
.button-28 {
  appearance: none;
  background-color: black;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-left:20%;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
 
}

.button-28:disabled {
  pointer-events: none;
}
.navbar.aos-init.aos-animate {
    padding-bottom: 4px;
}
.button-28:hover {
  color: black;
  background-color: yellow;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
.bgimg h1{
    padding-left: 5px;
    color: white;
    border-left: 5px solid yellow;
    text-shadow: 2px 2px 3px black;
  }
.bgimg
{
  padding-top: 7px;
  padding-left: 5px;
  
}