body{
    background-color: yellow;
}
.container-fluid{
    margin: auto;
    padding-right: 40%;
}
label{
    font: message-box;
}
input[type="password"],[type="text"],[type="email"],[type="tel"],[type="number"]{
    width: 50%;
}
img{
    height: 150px;
}
#preloader
{
   background: transparent url("images/loading.gif") no-repeat center;
   backdrop-filter: blur(10px);
   background-size: 13%;
   height: 100vh;
   width: 100%;
   position: fixed;
   z-index: 100;
}