body{
    background: url('images/back2.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}
.circle{
  background-color: yellow;
  border-radius: 360px;
  width: 100px;
  height: 100px;
  position: relative;
  left:33%;
}
img{
  position: absolute;
  right: 2%;
  top: 0%;
  height: 95%;
}
button.btn.btn-success {
  width: 100px;
  position: relative;
  left: 70%;
}
button.btn.btn-success:hover,button.btn.btn-success:focus{
  background-color: yellow;
  color: black;
  transition: 0.3s ease;
}
.side h1{
  padding-left: 5px;
  color: white;
  border-left: 7px solid yellow;
}
h1{
  position: relative;

}
label{
    font: message-box;
}
.container{
    color: white;
    background-color: #28282B;
    width: 400px;
    position: absolute;
    top: 120px;
    left: 35%;
    padding: 30px;
    border-radius: 15px;
}

/* input[type="email"]{
    /* border-radius: 7px;
    height: 40px;
}
input[type="password"]{
    border-radius: 5px;
    height: 40px;
}
input[type="submit"]{
    border-radius: 5px;
    height: 30px;
    width: 100px;
} */
.form {
    width: 100%;
    position: relative;
    height: 60px;
    overflow: hidden;
  }
  
  .form input {
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 20px;
    border: none;
    background-color: #28282B;
  }
  .form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid white;
  }
  .form label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid yellow;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
  
  .content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 5px;
    transition: all 0.3s ease;
  }
  .form input:focus {
    outline: none;
  }
  .form input:focus + .label-name .content-name,
  .form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    left: 0px;
    color: #fce38a;
  }
  .form input:focus + .label-name::after,
  .form input:valid + .label-name::after {
    transform: translateX(0%);
  }