body{
    background: url('images/login-back.jpg') no-repeat fixed center center;
    background-size: cover;
    color: white;
}
hr{
    border: 1px solid black;
}
h1{
    border-left: 6px solid yellow;

}
.container-fluid{
    background-color: rgba(0, 0, 0, 0.65);
    
    
}
label{
    font: message-box;
    font-weight: bold;
}
input[type="password"],[type="text"],[type="email"],[type="tel"],[type="number"]{
    width: 50%;
    opacity: 1.0;
}
img{
    height: 100px;
}
.GG a
{
    text-decoration: none;
    
    color: aqua;
}
#preloader
{
   background: transparent url("images/loading.gif") no-repeat center;
   backdrop-filter: blur(10px);
   background-size: 13%;
   height: 100vh;
   width: 100%;
   position: fixed;
   z-index: 100;
}